<div class="modal-body">
  <form [formGroup]="addCountryForm">
    <div class="form-group">
      <label for="countryControl">Name</label>
      <select #countryName class="form-control" formControlName="countryControl" (change)="resetwarning()">        
        <option [ngValue]="country" *ngFor="let country of countries">
          {{country.name}}
        </option>
      </select>
      <div *ngIf="addCountryForm.get('countryControl').touched && addCountryForm.get('countryControl').invalid"
        class="alert alert-warning" role="alert">
        <strong>Warning!</strong> {{ getDynamicErrors('countryControl') }}
      </div>
      <div *ngIf="customeError" class="alert alert-danger" role="alert">
        <strong>Warning!</strong> {{ customeErrorMsg }}
      </div>
    </div>
    <div class="form-group">
      <label for="note">Note</label>
      <textarea #countryNote rows="4" class="form-control" placeholder="Enter any Note (If Any)" formControlName="note"></textarea>
      <div *ngIf="addCountryForm.get('note').touched && addCountryForm.get('note').invalid" class="alert alert-warning"
        role="alert">
        <strong>Warning!</strong> {{ getDynamicErrors('note') }}
      </div>
    </div>
  </form>
</div>
