<div class="modal-body">
  <form [formGroup]="countryCodeForm">
    <div class="form-group">
      <label for="code">Country Code</label>
      <input id='code' type="text" class="form-control" name="code" pattern="[A-Za-z]{3}"
        title="Three letter country code" placeholder="Please Three Character Country Code to Get Details"
        formControlName="code" maxlength="3">
      <div *ngIf="countryCodeForm.get('code').touched &&countryCodeForm.get('code').invalid" class="alert alert-warning"
        role="alert">
        {{ getDynamicErrors('code') }}!
        <strong>Exactly Three letter country code</strong>
      </div>
    </div>
    <div class="form-group text-center">
      <button [disabled]="!countryCodeForm.valid" type="button" class="btn btn-success" (click)="addCountry()">Show
        Country</button>
    </div>
  </form>
</div>
